.form-input-box {
  width: 360px;
  height: 50px;
  border: 1px solid #bfbfbf;
  border-radius: 6px;
  outline: none;
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #3a3b3f;
  font-size: 18px;
  line-height: 21.09px;
  letter-spacing: 0.1rem;
  position: relative;
  line-height: 44px;
  width: 361px;
  height: 62px;
}

.login-input-box {
  width: 360px;
  height: 50px;
  color: black;
}
.form-input-label {
  font-family: "Roboto";
  color: #3a3b3f;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  padding-bottom: 10px;
  padding-top: 10px;
}
.form-input-label {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}
