.homepage-title h3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  line-height: 32.8px;
  color: #333333;
}

.homepage-title-one {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-top: -20px;
}
.homepage-title-flex-container {
  display: flex;
}
.homepage-container {
  width:90%;
  margin-top: 90px;
  margin-left: 300px;
  margin:auto
  
}
.currency-conv
{
  font-weight: 700;
  font-family: 'roboto';
  font-size: 28px;
  color: #333333;
  margin-left: 80px;
  margin-top: 80px;
}
