select {
  width: 361px;
  height: 62px;
  padding: 10px;
  outline: none;
  border: none;
  background: #ffffff;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  font-family: "Roboto";
  font-weight: 500;
  color: #3a3b3f;
  font-size: 18px;
}

option {
  font-size: 22px;
  padding: 10px;
}
.currency-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.display-country {
  padding: 10px;
  margin-top: 20px;
}
.conversion-header {
  font: 'Roboto';
  font-weight: 600px;
  color: #3a3b3f;
  font-size: 19px;
  padding: 10px;
  line-height: 21px;
}
.header-dropdown span {
  font: 'Roboto';
  font-weight: 500px;
  size: 28px;
}
