.page-container {
  margin-top: 83px;
  width: 100%;
  margin: auto;
}
body {
  margin: auto;
  width: 100%;
  margin: auto;
}
.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}